Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,

  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-using,
  modernize-use-equals-default,
  modernize-avoid-bind,
  modernize-use-transparent-functors,
  modernize-use-nodiscard,

  readability-const-return-type,
  readability-container-size-empty,
  readability-make-member-function-const,
  readability-redundant-member-init,
  readability-static-accessed-through-instance,

  cppcoreguidelines-init-variables,
  cppcoreguidelines-slicing,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-virtual-class-destructor

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: none
